body{
    background-color: lightblue;
}
table{
    color: red;
}
body{
    color: black;
}
form{
    color: blue;

}
input[type="submit"]:hover {
    background-color: yellow;
}
h1 {
    border-style: groove;
}
h2 { background-color: black;
    border-style: groove;
}
h3 {
    border: 2px dashed red;
    outline-style: dashed;

}
p {
    font-family: 'Courier New', Courier, monospace;
}
table, th, td {
    border: 2px solid;
    width: 20%;
    border-collapse: collapse;
}
tr:hover {
    background-color: yellow;
}